<!DOCTYPE html>
<html>
<head>
  <title>Hitchens</title>
  <%= stylesheet_link_tag    "hitchens/application" %>
  <%= javascript_include_tag "hitchens/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
