= link_to 'new post', new_post_path if can? :create, @post
= render partial: 'post', collection: @posts
= will_paginate @posts,
    previous_label: 'newer posts',
    next_label: 'older posts',
    page_links: false

