.sign_out_link= link_to 'sign out', main_app.__send__(Hitchens.sign_out_url_helper), method: 'delete'
= link_to 'new post', new_admin_post_path if can? :create, @post
= link_to 'manage posts', admin_posts_path
